<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Genuary 2022</title>
  </head>
  <body>
    <h1>Genuary 2022</h1>
    {% for day in days reversed %}
    <p>
      <a href="{{ '/' | append: day.url | append: '/' | url }}">
        {{ day.date | formatDate }} - {{ day.description }}
      </a>
    </p>
    {% endfor %}
  </body>
</html>
